.app-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  background-color: black;
  color: white;
  padding: 10px 20px;
}

.app-h1 {
  grid-column: 1;  /* lo pone en la primera columna */
  justify-self: start;   /* lo alinea a la izquierda dentro de esa columna */
  margin: 0;
  font-size: 20px;
}

.app-header nav {
  grid-column: 2;    /* lo pone en la columna del centro */
  justify-self: center;  /* lo centra horizontalmente en esa columna */
  display: flex;
  gap: 20px;
}

.app-header nav a {
  color: white;
  text-decoration: none;
}

.app-header nav a:hover {
  text-decoration: underline;
}
